*
!/.gitignore
!/.gitconfig
!/.gitmessage
!/.yash_profile
!/.yashrc
!/.gnupg/
!/.gnupg/gpg-agent.conf
!/.config/
!/.config/user-dirs.dirs
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/helix/
!/.config/helix/config.toml
!/.config/helix/themes/
!/.config/helix/themes/*
!/.config/foot/
!/.config/foot/foot.ini
!/.config/sway/
!/.config/sway/config
!/.config/mpv
!/.config/mpv/mpv.conf
