[commit]
	verbose = true
	gpgsign = true
[core]
	editor = hx
	pager = cat
[gpg]
	format = ssh
[tag]
	gpgsign = true
[alias]
	graph = !git log --graph --pretty=oneline --abbrev-commit
[init]
    defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
