*
!/.gitignore
!/.gitconfig
!/.yash_profile
!/.yashrc
!/.hushlogin
!/.termux/
!/.termux/termux.properties
!/.config/
!/.config/user-dirs.dirs
!/.config/helix/
!/.config/helix/config.toml
!/.config/helix/themes/
!/.config/helix/themes/*
!/.config/i3/
!/.config/i3/config
!/.config/mpv/
!/.config/mpv/mpv.conf
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.local/
!/.local/share/
!/.local/share/andromeda.jpg

